Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==22.0.0
eventlet==0.36.1
python-dotenv==1.0.1
paypalrestsdk==1.13.3
SQLAlchemy==2.0.32
Werkzeug==3.0.3
python-engineio==4.9.1
python-socketio==5.11.3
setuptools
